body{
    width: 250px;
}

.color{
    border: 1px solid black;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.pixel{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
    background-color: white;
}

#board-size{
    width: 15px;
}

.cor1{
    background-color: red;
}
.cor2{
    background-color: green;
}
.cor3{
    background-color: yellow;
}
.cor4{
    background-color: black;
}